.Jsaction {
padding: 0.75rem 1.5rem;
border-radius: 8px;
font-size: 0.95rem;
font-weight: 600;
cursor: pointer;
display: flex;
align-items: center;
gap: 0.5rem;
margin: 7px;
/* height: 10px; */
border-radius: 8px;
border: none;
padding: 17px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
}